.header {
  background: #f4f9e2;
  max-width: 1140px;
  margin: 0 auto;
}

.header__menu {
  display: grid;
  grid-template-columns: 118px 311px 150px;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  height: 155px;
}

.header__links-list {
  margin-bottom: 13px;
  display: flex;
  gap: 69px;
  list-style: none;
}

.header__contact-btn {
  width: 150px;
  height: 50px;
  border-radius: 50px;
  border: none;
  color: white;
  font-style: italic;
  background: #f9b640;
}