@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  font-style: italic;
  scroll-behavior: smooth;
  background-color: #f4f9e2;
}

h1 {
  font-size: 48px;
  font-weight: 400;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
  font-style: italic;
}

p {
  font-size: 24px;
}

.main-title {
  color: #22356f;
  font-size: 46px;
  line-height: normal;
}

.main-text {
  font-size: 24px;
  font-style: normal;
  line-height: 42.48px;
  color: #22356f;
  align-items: center;
}

.sub-title {
  color: white;
  font-style: italic;
}

.secondary-text {
  font-size: 24px;
  color: white;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
/* 
.white_main_text {
  color: white;
  font-size: 36px;
}

.white_second_text {
  color: white;
  font-size: 24px;
} */
